[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "gabm"
version = "0.2.6"
description = "Generative Agent-Based Model (GABM) framework."
readme = "README-pypi.md"
requires-python = ">=3.12"
license = {text = "BSD License"}
authors = [
    {name = "GABM Contributors", email = "agdturner@gmail.com"}
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent"
]
dependencies = [
    "openai==2.21.0",
    "google-generativeai==0.4.1",
    "httpx==0.28.1",
    "deepseek==1.0.0"
]

[project.optional-dependencies]
llm-local = [
    "torch==2.10.0",
    "transformers==5.1.0"
]

[tool.setuptools]
package-dir = {"" = "src"}
packages = ["gabm"]


